<div class="main login_form">
  <div class="container">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="login-box">
      <div class="login-box-header">
        Login
      </div>
      <div class="login-box-contents">
        <div class="login-box-contents-left">
          <div class="login-box-contents-content">
            <%= f.label :name, "User Name" %>
            <%= f.text_field :name %>
          </div>
          <div class="login-box-contents-content">
            <%= f.label :password, "Password" %>
            <%= f.password_field :password %>
          </div>
          <div class="login-box-remember_me">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>
          </div>
        </div><!--
      --><div class="login-box-contents-right">
          <%= f.submit "Login", class: "btn submit-login" %>
        </div><!--
      --></div>
    </div>
    <% end %>
  </div>
</div>
