<div class="main posts-index">
  <div class="container">
    <div class="user-info">
      <% if @user.user_image_name %>
        <%= image_tag(@user.user_image_url(:standard), class:"posts-each-user-image", style:"width=10vw;") %>
      <% else %>
        <p style="font-size: 50px"><i class="fas fa-user" ></i></p>
      <% end %>
      <P style="font-size: 50px"> <%= @user.name %> </P>

<% if false %>
      <%= form_tag("/user/#{@user.id}", {multipart: true}) do %> 
        <input name="user_image" type="file" style="display: block" >
        <input type="submit" value="Chage your image", style:"font-size: 15px; color: rgba(0,0,0,0.6);">
      <% end %>
<% end %>

      <%= form_for @user, url: user_path, multipart: true do |f| %>
        <%= f.file_field :user_image %>
        <%= f.hidden_field :user_image_cache %>
        <%= f.submit "Change your image" %>
      <% end %>
      
    </div>
  </div>
</div>