<div class="main signup">
  <div class="container">
    <div class="signup-box">
      <div class="signup-box-header">
        Sign up
      </div>
      <%= form_tag("/user/create") do %>
      <div class="signup-box-contents">
        <div class="signup-box-contents-left">
          <div class="signup-box-contents-content">
            <p><span>User Name</span></p>
            <%= text_field_tag :user_name, "<%= @user.name %>" %>
            <input name="name" value="">
          </div>
          <div class="signup-box-contents-content">
            <p><span>email</span></p>
            <input name="email" value="<%= @user.email %>">
          </div>
          <div class="signup-box-contents-content"> 
            <p><span>confirm email</span></p>
            <input name="email_confirmation" value="<%= @user.email_confirmation %>">
          </div>
          <div class="signup-box-contents-content">
            <p><span>Password</span></p>
            <input name="password" type="password" value="<%= @user.password %>">
          </div>
          <div class="signup-box-contents-content">
            <p><span>confirm Password</span></p>
            <input name="password_confirmation" type="password" value="<%= @user.password_confirmation %>">
          </div>
        </div><!--  
      --><div class="signup-box-contents-right">
          <input class="btn submit" type="submit" value="Signup">
          <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li style="color: red; font-size: 14px;"><%= error %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
