<div class="main posts-index">
  <div class="container">
    <div class="user-info">
      <% if !@user.user_image.blank? %>
        <%= image_tag(@user.user_image_url.to_s, class: "posts-each-user-image") %>
      <% else %>
        <p style="font-size: 50px"><i class="fas fa-user" ></i></p>
      <% end %>
      <P style="font-size: 50px"> <%= @user.name %> </P>
      <% if current_user %>
        <% if @user.id === current_user.id %>
          <%= link_to "Edit your image", "/users/#{@user.id}/edit", style:"font-size: 15px; color: rgba(0,0,0,0.6)" %>
        <% end %>
      <% end %>
    </div>
    <% @user_posts.each do |user_post| %>
      <div class="posts-each">
        <%= render "shared/post", post: user_post %>
        <% if current_user?(@user) %>
          <div class="posts-each-edit">
            <%= link_to "Delete", post_path(user_post), method: :delete, data: {confirm: "Are you sure?"}, style: "font-size: 15px; color: rgba(0,0,0,0.6);" %> 
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>