<div class="main posts-index">
  <div class="container">
    <div class="posts-each">
      <%= render "shared/post", post: @post %>
      <% if @comments %>
        <div id="after-commented">
          <%= render "comments/comment" %>
        </div>
      <% end %>
      <%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
        <div class="posts-each-input-comment">
          <%= f.text_field :comment %>
          <%= f.submit "Comment!", class: "btn" %>
        </div>
      <% end %>
      <% if current_user?(@post.user) %>
        <div class="posts-each-edit">
          <%= link_to "Delete", "/posts/#{@post.id}", method: :delete, data: {confirm: "Are you sure?"}, style: "font-size: 15px; color: rgba(0,0,0,0.6);" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>